<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7bace">  <td>21/08/25 12:03:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Makemytrip.VerifyBooking()[pri:0, instance:com.wipro.SDET_Selenium.Makemytrip@4efc180e]">VerifyBooking</td> 
  <td>main@1809194904</td>   <td></td> </tr>
<tr bgcolor="a7bace">  <td>21/08/25 12:03:29</td>   <td>-4451</td> <td>&nbsp;</td><td title="&gt;&gt;Makemytrip.setup()[pri:0, instance:com.wipro.SDET_Selenium.Makemytrip@4efc180e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1809194904</td>   <td></td> </tr>
<tr bgcolor="a7bace">  <td>21/08/25 12:03:34</td>   <td>1116</td> <td>&nbsp;</td><td title="&lt;&lt;Makemytrip.teardown()[pri:0, instance:com.wipro.SDET_Selenium.Makemytrip@4efc180e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1809194904</td>   <td></td> </tr>
</table>
